@media only screen and (max-width: 1500px) {
.be-inspired-mac { width: 40%; }
.be-inspired-cont { width: 55%; margin-right: 0px; }
.progressbar-main { width: 650px; }

}
@media only screen and (min-width: 1190px) and (max-width: 1280px) {
.signin-btn{ padding:10px; width:auto; font-size:0px;}
.hdr-search{ margin:0px 5px 0px 5px}
.menu-main li{ margin-left:20px;}
	}
@media only screen and (max-width: 1190px) {
header { padding: 0 15px }
.menu-main li { margin-left: 15px; }
.menu-main {  position: absolute; margin: 0px; top: 57px; left: 0px; background: #000; width: 100%; z-index: 88; }
.menu-main ul li { width: 100%; padding: 0px 15px; border-bottom: #fff 1px solid; margin-left: 0px; }
.menu-main ul li a { padding: 20px 0; width: 100%; }
.menu-main ul li.home-icon a { padding: 0px; margin: 15px 0; }
.menu-toggle { display: block; }
.container, .ftr-container { width: 100%; padding: 0px 15px; }
.what-k-item { width: 23%; margin-left: 2%; }
.clients-say-main .slick-prev { left: 0px }
.clients-say-main .slick-next { right: 0px }
.be-inspired-mac { width: 40%; }
.be-inspired-cont { width: 55%; margin-right: 0px; }
.ftr-row { width: 23%; margin-left: 2%; }
.be-inspired-cont h2 { line-height: normal; font-size: 60px; }
.be-inspired-scn { min-height: inherit; padding: 50px 0 100px 0; }
.what-kliqstart-scn { padding-bottom: 70px; }
.buildW-control{width: 440px;}
/***About Style here***/
.about-kliqsatart-story .be-inspired-cont{ width:70%;}
.about-kliqsatart-story{ padding:50px 0}
.about-kliqsatart-story:before{ width:72%}
/*Account Setting Style here*/
.update-pass-prt, .pro-manage-prt{ width:49%}
.update-setting-dtl h3{ font-size:32px;}
.update-remove-btn button{ min-width:110px; padding:0 10px; font-size:12px}
.user-pic-setting{ margin-right:0px;}
/***Checkout Successful Style here***/
.payment-login-form{ width:300px;}
.payment-list{ padding:5px 0 15px 0;}
.order-scd-cont{ width:100%; padding:100px 0 40px 0; min-height:inherit;}
.order-scd-cont h2{ font-size:50px;}
/***Checkout Style here***/
.checkoutsignin-dtl{ width:100%;}
.checkoutsignin-rft, .checkoutsignin-lft{ width:49%}
.checkoutsignin-scn{ padding:50px 0; min-height:inherit;}
.checkoutsignin-dtl h3{ font-size:30px;}
/***Contact Us Style here***/
.contact-form-dtl{ width:100%;}
.demand-form-bnr{ width:80%}
.banner-contactus .demand-form-bnr h3{ font-size:40px;}
.banner-contactus .demand-form-bnr{ min-height:50%; padding:0;}
.reach-touch-scn{padding-bottom: 0px;}
/***My Account Style here***/
.my-account-mid h2{ font-size:50px;}
.my-account-dtl{ margin-top:0px;}
.lifeofusher-prt{ width:47%;}
.addextra-prt{ width:47%}
.my-account-dtl .what-k-item{margin-left:0px; margin-top:0px; margin-bottom:20px; width:100%;}
.my-account-mid h3{ font-size:30px;}
.my-account-dtl:before{ right:1%;}
/**** Who user Style here***/
.build-who-user{ padding:0px;}
.be-inspired-cont h2{ font-size:50px;}
.build-who-user .be-inspired-cont{ padding-left:20px; padding-bottom:20px;}
/****Facebook Step Style here***/
.pack-YourCart{ margin-right: 10px; }
.facebook-setupscn .progressbar-main{width: 54%; padding-top: 40px;}
.progressbar h2{font-size: 14px;}
.package-item h3{font-size: 25px;}
.website-bnr-inner h2{font-size: 35px;}
.next-btn{ padding:25px 35px; font-size: 16px;  }
.pack-YourCart{width: 200px;}
.websitepackdata{font-size: 14px;}
.demand-form-bnr h3{font-size: 38px;}
}

@media only screen and (max-width: 1023px) {
.demand-form-bnr { width: 95%; padding: 20px; }
.demand-form-bnr p { font-size: 16px; }
.buildW-control { width: 410px; padding: 0px 15px; }
.lets-go-btn { min-width: 160px; }
.banner-main { min-height: 350px; }
.what-k-item { text-align:center; width: 50%; margin-left: 0px; margin-bottom: 40px; }
.what-k-item .discover-more {margin-top: 12px;margin-left: auto;margin-right: auto;float: none;display: table;}
.what-k-item:nth-child(2n+1) { clear: left; }
.what-k-item p { min-height: inherit; }
.about-kliq-cont { width: 100%; padding: 0px 15px; }
.about-project-info h4 { font-size: 20px; }
.about-project-info h3 { font-size: 50px; }
.clients-say-main { width: 100%; padding-top: 20px; }
.ClientsSay-dtl { width: 100%; }
.clients-say-main .slick-dots { margin-top: 20px; }
.ftr-row h3 { font-size: 20px; }
.be-inspired-cont h2 { font-size: 50px; margin-bottom: 10px; }
/***About Style here***/
.banner-about .demand-form-bnr{ width:81%; padding:30px 0;}
.demand-form-bnr h3{ font-size:35px;}
.about-bnr-social{ margin-right:10px;}
.p-business-info{ width:100%;}
.about-kliqsatart-story h4{ font-size:30px;}
.about-kliqsatart-story{ padding:30px 0;}
.got-sorted-social h4{ font-size:16px;}
.got-sorted-social li{ margin:0px; width:24%;}
.what-kliqstart-scn{ padding-bottom:20px;}
.we-got-sorted{ padding-bottom:20px;}
.got-sorted-social{ width:100%;}
.about-kliqsatart-story .be-inspired-cont p{ width:100%; line-height:24px;}
/*Account Setting Style here*/
.acc-stn-inner{ padding:20px;}
.custom_checkbox [type="checkbox"]:not(:checked) + label, .custom_checkbox [type="checkbox"]:checked + label{ font-size:14px;}
.update-setting-dtl h3{ font-size:26px;}
.update-remove-image{ width:57%}
.update-remove-btn .upld-img-btn{ margin-bottom:15px;}
/***Contact Us Style here***/
.banner-contactus .demand-form-bnr h3{ font-size:32px;}
.banner-contactus .demand-form-bnr{ width:80%;}
/***My Account Style here***/
.acc-info-right { float: left; clear: left; margin-top:10px; margin-left: 0;}
.acc-info-right a{ margin-left:0px; margin-right:15px}
/**** Who user Style here***/
.what-doget-list{ width:100%;}
.what-doget-list li:last-child{ width:30%}
.what-doget-scn p br{display:none;}
.what-doget-dtl{ padding-bottom:50px;}
.what-doget-scn{ padding-top:40px;}
/****Facebook Step Style here***/
.facebook-setupscn .progressbar-main{width: 64%; float:left; margin-left: 5%;}
.demand-form-bnr{margin-top: 35px;}
.pack-YourCart h4{padding: 8px 0px;}
}
@media only screen and (max-width: 767px) {
section { padding: 40px 0; }
.lets-go-btn { min-width: 120px; font-size: 14px; }
.demand-form-bnr h3 { font-size: 30px; }
.buildW-control { margin-left: 10px; width: 380px; padding: 0px 15px; font-size: 15px; }
.be-inspired-cont { margin-top: 0px; }
.be-inspired-cont h2 { font-size: 35px; }
.be-inspired-cont p { width: 100%; }
.what-kliqstart-scn { padding-bottom: 20px; }
.ftr-row { width: 49%; margin-left: 2%; margin-top: 20px; margin-bottom: 20px; }
.ftr-row:nth-child(2n+1) { clear: left; margin-left: 0px }
.looking-search-dtl .form-group { width: 300px; }
/***About Style here***/
.philosophy-list li{ margin-top: 5px; padding:0px 10px}
.got-sorted-info{ width:100%;}
.what-k-list{ text-align:center;}
.our-src-scn .what-k-item p{ margin-top: 15px; text-align:center;}
.what-k-item .discover-more{ display:table; float:none; margin:auto; }
 .about-kliqsatart-story .be-inspired-cont, .about-kliqsatart-story:before{ width:100%;}
.about-kliqsatart-story h4{ font-size:22px;}
.about-bnr-social{ width:38px; margin-right:5px;}
/*Account Setting Style here*/
.update-pass-prt, .pro-manage-prt{ width:100%;}
.update-setting-dtl .manage-subscriptions h3{ font-size:24px;}
.update-remove-image br{ display:none}
.update-remove-image{ width:56%}
.cmn-btn{ font-size:16px; padding:20px 25px}
/***Checkout Successful Style here***/
.order-scd-cont{ min-height:300px; padding:80px 0 0 0}
.order-scd-cont h2{ font-size:40px;}
.payment-username{ margin-top:10px}
/***Checkout Style here***/
.checkoutsignin-rft, .checkoutsignin-lft{ width:100%; margin-top:40px;}
.checkoutsignin-lft{ margin-top:0px;}
.bnr-inner-cont p{ padding:0 15px; }
/***Contact Us Style here***/
.demand-form-bnr p br{ display:none;}
.contact-form-dtl{ margin:40px 0 0px 0; padding-bottom:10px;}
.reach-touch-scn{padding-bottom: 40px;}
.contact-form-dtl h2{margin-bottom: 10px;}
.reach-touch-icon{ margin-bottom: 30px; }
/***My Account Style here***/
.lifeofusher-prt, .addextra-prt{ width:100%}
.my-account-dtl:before{ content:normal;}
.update-setting-dtl{padding-bottom: 10px;}
.update-setting-dtl h3 br{display: none;}
/***Register Style here***/
.register-form-main{ width:100%}
.registerform-popup{ width:90%; height:auto; padding:20px;}
.registerform-popup h3{ font-size:25px;}
.rgstr-continue-btn a{ display:table; float:none; margin:10px auto; }
.thumb-link{ margin-top:20px;}
/**** Who user Style here***/
.what-doget-list li{ width:48%; margin-left:0px; margin-top:20px;}
.what-doget-list li:last-child{ width:50%;}
.build-who-user:before{ width:100%;}
.build-who-user{ padding-top:20px;}
.build-who-user .be-inspired-cont p{ width:100%;}
.what-k-item h4{ margin-bottom:10px; }
.other-offerings-dtl{padding: 30px 0px;}
.clients-say-scn{ padding-top: 20px; }
.marketing-madeeasy-scn{padding-bottom: 30px;}
/****Facebook Step Style here***/
.package-item{width: 100%; margin-left: 0px;}
.pack-YourCart{margin-left: auto; width: 300px; margin-right: auto; float: none;}
.progressbar h2{display: none;}
.facebook-setupscn .progressbar-main{width: 90%; margin-left: 10%}
.facebook-setupscn .progressbar li{width: 25%}
.progressbar{margin-bottom: 80px;}
.advt-pdt-service-dtl{width: 100%;}
.setuppackage-summary-user{width: 100%;}
.summary-a-user-cont{width: 100%;}
.summary-agency-pic{margin: auto; float: none; display: table; padding-bottom: 20px;}
.header-cart{display: none !important;}
.progressbar li{width: 22.66%;}
.enailAdd-copy-item{float: none;width: 100%;border: none;}
.website-info-email .form-group{float: none;width: 77%;}
.customize-own-colours{padding: 50px 0px 0px;}
.banner-about .demand-form-bnr p{padding: 0px 10px;}
.summary-row{width: 100%;}
.recurring-month-list .rng-month-item{float: left;}
.rng-month-item:nth-child(4n+3)(margin-left: 0px;)
}
@media only screen and (max-width: 599px) {
h2{ font-size:30px;}
.menu-toggle { margin-right: 10px; }
.logo { width: 160px; margin-top: 18px; }
.signin-btn { font-size: 0px; width: 30px; height: 40px; padding-left: 8px; }
.hdr-search { background-position: 7px 20px }
.form-group { width: 100%;}
.looking-search-dtl h3 { margin-top: 30px; font-size: 30px; }
.looking-search-popup { padding: 0px 20px; }
.looking-search-popup .btn-common { margin-top: 20px; }
.demand-form-bnr p { font-size: 14px; }
.hdr-search { margin: 0px 5px; width: 30px; }
.what-k-item { width: 100%; margin-left: 0px; }
.build-website-form .form-group { width: 100%; }
.buildW-control { width: 100%; margin: 0px; height: 40px; font-size: 14px; }
.build-website-form label { margin-top: 0px; }
.input-arrpw { position: absolute; right: 10px; top: 9px; }
.lets-go-btn { height: 50px; margin-top: 10px; }
.be-inspired-cont, .be-inspired-mac { width: 100%; }
.be-inspired-cont { padding: 0px 0px; }
.be-inspired-scn { background-size: cover; text-align:center;}
.get-started-btn { font-size: 16px; float: none;display: inline-block;}
.get-started-btn { line-height: 50px; width: 180px; }
.about-project-info ul li { width: 100%; border-left: none; margin-top: 0px; }
.about-project-info ul li h3 { margin-top: 0px; }
.what-k-item { margin-bottom: 10px }
.ftr-contact-dtl a { margin-left: 0px; margin: 15px 0px; display: block; text-align: center; }
.looking-search-dtl .form-group { width: 100%; }
.buildW-control{padding-right: 40px}
/***About Style here***/
.got-sorted-social li{ width:49%;}
.demand-form-bnr h3 br{ display:none;}
.banner-about .demand-form-bnr p{ line-height:22px;}
.philosophy-business-scn{ padding:30px 0;}
.philosophy-list{ padding-bottom:20px;}
.our-src-scn p br{ display:none;}
.got-sorted-social{ padding-top:30px}
.got-sorted-social h4{ font-size:14px;}
.banner-about .demand-form-bnr, .banner-contactus .demand-form-bnr{ width:76%; padding:10px;}
.what-k-item h3{ font-size:25px;}
/*Account Setting Style here*/
.bnr-acc-setting{ text-align:center}
.bnr-acc-setting h3{ font-size:30px;}
.update-setting-dtl h3{ font-size:22px;}
.inputlabel{ font-size:14px;}
.form-control{ font-size:16px;}
/***Contact Us Style here***/
.reach-touch-contact{ padding-top:0px;}
.reach-touch-contact li{ width:100%; margin:15px 0; margin-left:0px;}
.reach-touch-icon{ margin-bottom:5px;}
.contact-form-dtl{ margin:40px 0 0px 0}
/**** Who user Style here***/
.philosophy-list li{ font-size:14px;}
/****Facebook Step Style here***/
.facebook-setupscn .progressbar li{width: 28%}
.pack-YourCart{display: none;}
.discover-more{float: none;display: inline-block;}

.be-inspired-mac.fl-left{float: none;}
.about-kliq-cont{text-align: center;}
.ClientsSay-dtl{text-align: center;}
.slick-slide img{margin: 0 auto;}
.progressbar li{margin-left:0px;float: none;width: 50%; margin: 0 auto;margin-bottom: 10px;}
.progressbar{float: none; left:0px;background: none;}
.progressbar li:before{margin-right:44%;}
.progressbar:before{display: none;}
.progressbar:after{display: none;}
.progressbar-main{width: 100%;}
.website-info-email .form-control{width: 100%;float: left;}
.rng-month-item{float: none;margin-left: 0px;}
.rng-month-item .btn-defualt{margin-bottom: 12px;}
.layout-column li{width: 100%;float: none;margin-bottom: 30px;}
.website-selectcolorlist li{width: 100%;}
.customize-own-colours li{width: 100%;float: none;text-align: center;}
.colorpicker-img{margin:0 auto;margin-top:24px;margin-bottom: 44px;}
.select-color-option .radio-group li{float: none;}
#fs_detail h2{font-size: 26px;}
.website-info-main h2 span{font-size: 30px;}

.what-doget-list li{font-size: 14px;}
.demand-form-bnr h3{font-size: 17px; font-weight: 400;}
}
@media only screen and (max-width: 374px){
h2 {font-size: 25px;}
.logo {width: 105px;margin-top: 22px;}
.philosophy-list li{ font-size:16px}
.about-kliqsatart-story h4{ font-size:20px;}
.be-inspired-cont h2{ font-size:30px;}
.demand-form-bnr p{margin-bottom: 10px;}
.demand-form-bnr h3{font-size: 25px;}
/**** Who user Style here***/
.what-doget-list li{ width:100%;margin-top:20px;}
.what-doget-list li:last-child{ width:100%;}
.philosophy-list li{border: none;}

.billcompany-flt{max-width: 100%;float: none;}
.paymentneed-help{width: 100%;max-width: 290px;float: none;margin-top: 70px;}
.giftvoucher-coupon{max-width: 290px; width: 100%;margin-top: 70px;}
.giftvoucher-coupon .form-control{width: 100%;}
.payment-dtl-scn{float: none;}
.payment-dtl-scn{max-width: 290px; width: 100%;}
.fl-left{float: none;}
.paymentsummary li{max-width: 290px;float: none;width: 100%;}
.paymentsummary li.itemtitle .fl-right{width: 50px;}
.payment-summary-prt{max-width: 100%;}
}


@media only screen and (min-width: 375px) and (max-width:990px){
.philosophy-list li:last-child{border-left: none;margin-top: 15px;}

}

@media only screen and (min-width: 569px) and (max-width:870px){
.website-selectcolorlist li{width: 50%;margin-bottom: 20px;}
.customize-own-colours li{width: 50%; margin: 0 auto; text-align: center;}
.colorpicker-img{margin: 0 auto; margin-top: 24px; margin-bottom: 44px;}
.progressbar-main{max-width: 100%;}
.website-info-email .form-control{width: 100%;}
.website-info-email .form-group{width: 83%;}
#fs_detail h2{font-size: 26px;}
.website-info-main h2 span{font-size: 30px;}
}

@media only screen and (max-width:800px){
.be-inspired-cont h2{font-size: 26px;}
.rng-month-item{width: auto; margin-left: 30px;}
.summary-info-list h2{font-size: 28px;}
.shopping-check-btn{font-size: 16px; padding: 20px 40px;}
}

@media only screen and (max-width:1191px){
.menu .menu-main{display: none;}
.menu.visible .menu-main{display: block;}
.website-info-email .form-group{width: 100%;}
.website-info-email .form-control{width: 80%;}
}


@media only screen and (min-width: 768px) and (max-width:1600px){
.header-cart{top:64px;right: 24px;}
.pack-YourCart h4{font-size: 22px;}
.pack-cart li span:nth-child(1){font-size: 13px;}
.pack-cart li strong{font-size: 16px;}
.pack-cart li span:nth-child(3){margin-top: 6px;}
.pack-cart li span{font-size: 14px;}
.cart-total li.carttotal-price{padding: 10px 20px;font-size: 16px;}
.pack-YourCart{width: 185px;}
.pack-YourCart h4{padding: 8px 0px;}
.yourcart-price{margin-left:44px;}
}
