@media only screen and (max-width: 1500px) {
.be-inspired-mac{ width: 40%;}
.be-inspired-cont{ width: 55%; margin-right: 0px;}
.progressbar-main{ width: 650px;}
}
@media only screen and (max-width: 1190px) {
header{padding:0 15px }
.menu-main li{ margin-left: 15px;}
.menu-main{display: none; position: absolute; margin: 0px; top: 57px; left: 0px; background: #000; width: 100%; z-index: 88;}
.menu-main ul li{ width: 100%; padding: 0px 15px; border-bottom:#fff 1px solid; margin-left: 0px; }
.menu-main ul li a{ padding: 20px 0; width: 100%;}
 .menu-main ul li.home-icon a{ padding:0px; margin: 15px 0;}
.menu-toggle{display: block;}
.container, .ftr-container{ width: 100%; padding:0px 15px;}
.what-k-item{ width: 23%; margin-left: 2%;}
.clients-say-main .slick-prev{left: 0px}
.clients-say-main .slick-next{right: 0px}
.be-inspired-mac{ width: 40%;}
.be-inspired-cont{ width: 55%; margin-right: 0px;}
.ftr-row{ width: 23%; margin-left: 2%;}
.be-inspired-cont h2{ line-height: normal; font-size: 60px;}
.be-inspired-scn{ min-height: inherit; padding: 50px 0 100px 0;} 
.what-kliqstart-scn{ padding-bottom: 70px;}


}
@media only screen and (max-width: 1023px) {

.demand-form-bnr{ width: 95%; padding: 20px;}
.demand-form-bnr p{font-size: 16px;}
.buildW-control{ width: 410px; padding: 0px 15px;}
.lets-go-btn{min-width: 160px;}
.banner-main{min-height:350px; }
.what-k-item{ width: 50%; margin-left: 0px; margin-bottom: 40px;}
.what-k-item:nth-child(2n+1){clear: left;}
.what-k-item p{ min-height: inherit;}
.about-kliq-cont{ width: 100%; padding: 0px 15px;}
.about-project-info h4{font-size: 20px;}
.about-project-info h3{font-size: 50px;}
.clients-say-main{ width: 100%; padding-top: 20px;}
.ClientsSay-dtl{ width: 100%;}
.clients-say-main .slick-dots{margin-top: 20px;}
.ftr-row h3{font-size: 20px;}
.be-inspired-cont h2{font-size: 50px; margin-bottom: 10px;}
}
@media only screen and (max-width: 767px) {
section{padding: 40px 0;}	
.lets-go-btn {
    min-width: 120px;
    font-size: 14px;
}	
.demand-form-bnr h3{font-size: 30px;}
.buildW-control { margin-left: 10px;
    width: 380px;
    padding: 0px 15px;
    font-size: 15px;
}
.be-inspired-cont{margin-top: 0px;}
.be-inspired-cont h2{font-size: 40px;}
.be-inspired-cont p{width: 100%;}
.what-kliqstart-scn{padding-bottom: 20px;}
.ftr-row{width: 49%; margin-left: 2%; margin-top: 20px; margin-bottom: 20px;}
.ftr-row:nth-child(2n+1){clear: left; margin-left: 0px}
}
@media only screen and (max-width: 599px) {
.menu-toggle{margin-right: 10px;}	
.logo{width: 160px; margin-top: 18px;}

.signin-btn {
    font-size: 0px;
    width: 30px; height: 40px;
    padding-left: 8px;
}
.hdr-search{ background-position: 7px 20px}
.form-group{ width: 100%;}
.looking-search-dtl h3{ margin-top: 30px; font-size: 30px;}
.looking-search-popup{ padding: 0px 20px;}
.looking-search-popup .btn-common{ margin-top: 20px;}
.demand-form-bnr p{font-size: 14px;}
.hdr-search{ margin: 0px 5px; width: 30px;}
.what-k-item{width: 100%; margin-left: 0px;}
.build-website-form .form-group{width: 100%;}
.buildW-control{ width: 100%; margin:0px; height: 40px; font-size: 14px;} 
.build-website-form label{margin-top: 0px;}
.input-arrpw { position: absolute;
    right: 10px; top: 9px;}
.lets-go-btn{height: 40px; margin-top: 10px;}
.be-inspired-cont,.be-inspired-mac{width: 100%;}
.be-inspired-cont{padding: 0px 15px;}
.be-inspired-scn{ background-size: cover;}
.get-started-btn{font-size: 16px;}
.get-started-btn{line-height: 50px; width: 180px;}
.about-project-info ul li{width: 100%; border-left: none; margin-top: 0px;}
.about-project-info ul li h3{ margin-top: 0px;}
.what-k-item{ margin-bottom: 10px}
.ftr-contact-dtl a{ margin-left: 0px; margin: 15px 0px; display: block; text-align: center;}

}