* { padding: 0px; margin: 0px; box-sizing: border-box; outline: none !important;  list-style: none; text-decoration: none; border: none; }
body { background: #fff; font-size: 16px; color: #000; font-family: arial; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 28px; font-family: 'Raleway', sans-serif; font-weight: normal;}
h2 { font-weight: 300; font-size: 40px; }
.clear{clear: both;}
/***Common CSS***/
/*** Custom Checkbox ***/
.custom_checkbox { display: block; }
.custom_checkbox [type="checkbox"]:not(:checked), .custom_checkbox [type="checkbox"]:checked { position: absolute; left: -9999px; }
.custom_checkbox [type="checkbox"]:not(:checked) + label, .custom_checkbox [type="checkbox"]:checked + label { display: block; position: relative; padding-left: 30px; cursor: pointer; font-size: 16px; line-height: 20px; }
.custom_checkbox [type="checkbox"]:not(:checked) + label:before, .custom_checkbox [type="checkbox"]:checked + label:before { content: ''; position: absolute; left: 0; top: 0px; width: 16px; height: 16px; background: #FFFFFF; border: 2px solid #000; }
.custom_checkbox [type="checkbox"]:not(:checked) + label:after, .custom_checkbox [type="checkbox"]:checked + label:after { content: ''; position: absolute; top: 2px; left: 2px; margin: auto; width: 16px; height: 16px; background: #000; transition: all .2s; }
.custom_checkbox [type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0); }
.custom_checkbox [type="checkbox"]:checked + label:after { opacity: 1; transform: scale(1); }
.custom_checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .custom_checkbox [type="checkbox"]:disabled:checked + label:before { box-shadow: none; border-color: #bbb; background-color: #ddd; }
.custom_checkbox [type="checkbox"]:disabled:checked + label:after { color: #999; }
.custom_checkbox [type="checkbox"]:disabled + label { color: #aaa; }
.custom_checkbox [type="checkbox"]:checked:focus + label:before, .custom_checkbox [type="checkbox"]:not(:checked):focus + label:before { /*border: 1px dotted blue;*/ }
/***-Custom Radio Start-***/
.radio-group li { margin: 0px; color: #000; display: block; position: relative; float: left; width: 100%; margin-bottom: 10px; font-size: 16px; }
.radio-group li input[type=radio] { position: absolute; visibility: hidden; }
.radio-group li label { padding-left: 30px; display: block; position: relative; z-index: 9; cursor: pointer; -webkit-transition: all 0.25s linear; }
.radio-group li .check { display: block; position: absolute; border: 2px solid #000; border-radius: 100%; height: 16px; width: 16px; top: 0px; left: 0px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear; }
.radio-group li .check::before { display: block; position: absolute; content: ''; border-radius: 100%; height: 8px; width: 8px; top: 2px; left: 2px; margin: auto; transition: background 0.25s linear; -webkit-transition: background 0.25s linear; }
input[type=radio]:checked ~ .check { border: 2px solid #000; }
input[type=radio]:checked ~ .check::before { background: #31a6e2; }
input[type=radio]:checked ~ label { color: #000; }
.cmn-btn { margin-top: 45px; cursor: pointer; font-size: 20px; font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: 900; color: #fff; padding: 33px 55px; border-radius: 8px; background: #31a6e2; /* Old browsers */ background: -moz-linear-gradient(top, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a6e2', endColorstr='#1270a5', GradientType=0 ); /* IE6-9 */
}
.cmn-btn:hover { background: #1270a5; /* Old browsers */ background: -moz-linear-gradient(top, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1270a5', endColorstr='#31a6e2', GradientType=0 ); /* IE6-9 */
}

/*custom select box by css*/

.form-control{color: rgba(0,0,0, 0.6);font-size: 18px;font-family: arial;padding-left: 20px;padding-right: 20px;border-radius: 6px; width: 100%; height: 45px; background: #ebebeb;}


.default-select-box { width: 100%; float:left; background:#ebebeb;  clear:both; border-radius:6px; line-height:45px; }
.default-select-box select {color:rgba(0,0,0, 0.6); opacity: 1;  border: none; -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: ''; background: url(../images/input-slt-arow.png) no-repeat 97% 19px; padding: 0 25px 0 10px; width: 100%; height: 45px; cursor: pointer; font-size:18px;}
.default-select-box select::-ms-expand {
display: none;
}
.default-select-box select option { padding: 5px; }
.btn-defualt { border: #1270a5 2px solid; text-align: center; color: #1270a5; line-height: 34px; min-width: 148px; font-size: 12px; font-family: 'Raleway', sans-serif; font-weight: 900; float: left; text-transform: uppercase; border-radius: 30px; }
.btn-defualt:hover { border-color: #0a5a87; color: #0a5a87; }
input::placeholder {
color: #000;
}
::-webkit-input-placeholder {
opacity: 1 !important;
}
:-moz-placeholder {
opacity: 1 !important;
}
::-moz-placeholder {
opacity: 1 !important;
}
:-ms-input-placeholder {
opacity: 1 !important;
color: #000;
}
.fl-left { float: left; }
.fl-right { float: right; }
.clear { clear: both; display: block; }
img { display: block; max-width: 100%; }
.clr-left { float: left; }
p { line-height: 22px; margin-bottom: 25px; }
a { color: #686868; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; }
a:hover { color: #2089c1 }
.wrapper { width: 100%; float: left; }
section { float: left; width: 100%; padding: 70px 0 }
.container { width: 1200px; margin: auto; }

/***Header Section Start***/

header { position: relative; background: #000000; border-bottom: #2a2a2a 1px solid; padding: 0px 30px; float: left; width: 100%; }
.logo { margin: 15px 0; }
.menu-toggle { width: 30px; float: right; display: none; margin: 15px 20px 0px 0px; cursor: pointer; }
.menu-toggle i { width: 100%; height: 2px; background: #fff; margin-top: 5px; float: left; clear: left; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; }
.menu-main { margin-left: 65px; margin-top: 22px; }
.menu-main li { float: left; margin-left: 25px }
.menu-main li:first-child { margin-left: 0px; }
.menu-main li a { color: #fff; float: left; font-size: 14px; text-transform: uppercase; font-weight: 700; }
.menu-main li:hover a, .menu-main li.active a { color: #2089c1 }
.menu-main li.home-icon a { background: url(../images/nav-home-icon.png) no-repeat 0px 0px; width: 16px; height: 16px; }
.menu-main li.home-icon:hover a, .menu-main li.home-icon.active a { background-position: 0px -19px; }
.cart-list { float: left; }
.signin-btn { margin-top: 7px; border-radius: 5px; border: #fff 2px solid; padding: 10px 25px; height: 42px; color: #fff; font-weight: bold; font-size: 14px; float: right; }
.signin-btn:hover { border-color: #2089c1 }
.signin-btn i { vertical-align: middle; background: url(../images/user-icon.png) no-repeat; position: relative; top: -1px; width: 20px; height: 18px; display: inline-block; }
.signin-btn:hover i { background-position: 0px -19px; }
.hdr-search { background: url(../images/search-icon.png) no-repeat 11px 20px; float: left; width: 40px; height: 56px; cursor: pointer; margin: 0px 15px 0px 10px }
.hdr-search:hover, .hdr-search.current { background-color: #fa0032 }
.cart-list { font-size: 20px; font-style: italic; font-weight: bold; color: #fff; float: left; margin-top: 15px; }
.cart-list i { vertical-align: middle; background: url(../images/cart-icon.png) no-repeat; width: 34px; height: 24px; display: inline-block; }
/**Looking Search  Popup Here**/
.looking-search-popup { display: none; position: absolute; width: 100%; background: rgba(0, 0, 0, .9); float: left; top: 100%; z-index: 1000; min-height: 344px; float: left; left: 0px; margin-top: 1px; padding-top: 90px; }
.looking-search-dtl { margin: auto; display: table; }
.looking-search-dtl h3 { text-align: center; color: #fff; font-size: 50px; font-family: 'Raleway', sans-serif; }
.looking-search-dtl .form-group { float: left; width: 475px; }
.looking-search-popup .form-control { border-radius: 6px; padding: 0px 10px; width: 100%; height: 45px; color: #000; font-size: 16px; }
.btn-common { color: #fff; margin-left: 4px; background: #fa0032; padding: 15px 24px; text-transform: uppercase; font-size: 14px; border-radius: 6px; float: left; cursor: pointer; font-family: arial; font-weight: bold; }
.seach-btn:hover { background: #e4002e }
.searchClose-btn { border: #4e4b57 1px solid; background: #050112; padding: 14px 24px; }
.searchClose-btn:hover { background: rgba(0, 0, 0, 0.1); }
/***Banner Section Start***/
.banner-main { position: relative; width: 100%; float: left; background-size: cover; background-repeat: no-repeat; min-height: 592px; }
.demand-form-bnr { color: #fff; position: absolute; text-align: center; top: 50%; left: 0px; right: 0px; margin: auto; background: rgba(0,0,0, 0.5); width: 960px; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); padding: 55px 35px; }
.demand-form-bnr h3 { margin-bottom: 10px;  text-shadow: #000 3px 2px 6px; -webkit-text-shadow: #000 3px 2px 6px; -mz-text-shadow: #000 3px 2px 6px; -moz-text-shadow: #000 3px 2px 6px; font-family: 'Raleway', sans-serif; font-size: 45px; font-weight: 500; }
.demand-form-bnr p { font-size: 18px; }
.build-website-form { display: table; margin: auto; margin-top: 20px; }
.build-website-form label { font-size: 18px; font-weight: bold; color: #fff; float: left; margin-top: 32px; }
.buildW-control { border-radius: 8px; width: 460px; height: 80px; line-height: 80px; padding: 0px 33px; margin: 0px 10px 0 25px; font-size: 18px; color: #000000; font-weight: bold; }
.build-website-form .form-group { position: relative; width: auto; float: left; }
.input-arrpw { position: absolute; right: 35px; top: 28px; background: url(../images/bnr-build-arrow.png) no-repeat; width: 24px; height: 24px; cursor: pointer; }
.lets-go-btn { font-size: 18px; text-transform: uppercase; cursor: pointer; border-radius: 8px; min-width: 192px; height: 80px; float: left; color: #fff; font-weight: 900; background: #ed3c6d; /* Old browsers */ background: -moz-linear-gradient(top, #ed3c6d 1%, #ed3969 51%, #e22357 100%); background: -webkit-linear-gradient(top, #ed3c6d 1%, #ed3969 51%, #e22357 100%); background: linear-gradient(to bottom, #ed3c6d 1%, #ed3969 51%, #e22357 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3c6d', endColorstr='#e22357', GradientType=0 );
}
.lets-go-btn:hover { opacity: 0.9 }
/***Middle Section Start***/
.what-kliqstart-scn { padding-bottom: 140px; }
.what-kliqstart-scn h2 { text-align: center; }
.what-k-list { width: 100%; float: left; }
.what-k-item { float: left; width: 240px; margin-left: 70px; margin-top: 30px; }
.what-k-list .what-k-item:nth-child(4n+1) { margin-left: 0px; }
.what-k-item h3 { margin-bottom: 5px; margin-top: 15px; font-weight: 300; font-size: 30px; }
.what-k-item h4 { margin-bottom: 0px; font-size: 16px; font-weight: bold; font-family: arial }
.what-k-item p { line-height: 32px; color: rgba(0,0,0, 0.6); margin-top: 35px; min-height: 190px; }
.discover-more { border: #1270a5 3px solid; text-align: center; color: #1270a5; line-height: 34px; min-width: 148px; font-size: 12px; font-family: 'Raleway', sans-serif; font-weight: 900; float: left; text-transform: uppercase; border-radius: 30px; }
.discover-more:hover { border-color: #0a5a87 }
.what-k-icon { background: url(../images/services-bg-icon.png) no-repeat; position: relative; width: 134px; height: 134px; margin: auto; display: table; }
.what-k-icon i { position: absolute; left: 50%; top: 50%; margin: auto; float: left; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
.be-inspired-scn { position: relative; width: 100%; float: left; background-size: 100% 100%; background-repeat: no-repeat; min-height: 646px; padding-top: 105px; }
.be-inspired-cont { margin-right: 60px; margin-top: 20px; width: 650px; color: #fff; }
.be-inspired-cont h2 { font-size: 83px; font-weight: 300; line-height: 68px; }
.be-inspired-cont p { line-height: 32px; color: #fff; width: 85% }
.be-inspired-cont .discover-more { color: #fff; border: #fff 2px solid; font-size: 12px; font-family: 'Raleway', sans-serif; font-weight: 700; }
.about-kliq-scn { padding: 0px; }
.about-kliq-dtl { width: 100%; padding: 65px 0; float: left; background: #fff; margin-top: -50px; position: relative; }
.about-kliq-cont { width: 800px; margin: auto; min-height: 500px; }
.about-kliq-cont h2 { margin-bottom: 20px; }
.we-understand-txt { font-size: 16px; margin-bottom: 15px; font-weight: 900; }
.about-kliq-cont p { line-height: 32px; }
.get-started-btn { border-radius: 10px; width: 240px; line-height: 74px; float: left; clear: left; text-align: center; font-size: 22px; margin-top: 15px; font-family: 'Raleway', sans-serif; font-weight: 900; color: #fff; text-transform: uppercase; background: #34a4dc; /* Old browsers */ background: -moz-linear-gradient(top, #34a4dc 1%, #2388bf 52%, #116698 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #34a4dc 1%, #2388bf 52%, #116698 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #34a4dc 1%, #2388bf 52%, #116698 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a4dc', endColorstr='#116698', GradientType=0 );
}
.get-started-btn:hover { color: #ededed; }
.about-project-info { padding: 15px 0; width: 100%; float: left; background: #dcdcdc }
.about-project-info ul { width: 100%; float: left; }
.about-project-info ul li { padding-bottom: 10px; width: 25%; text-align: center; color: #ee3668; border-left: #c6c6c6 6px solid; float: left; }
.about-project-info ul li:first-child { border-left: none; }
.about-project-info h3 { margin-top: -45px; position: relative; margin-bottom: 5px; font-size: 70px; font-family: arial; font-weight: bold; }
.about-project-info h4 { font-size: 24px; font-family: arial; font-weight: bold; }
.clients-say-scn { text-align: center; padding: 50px 0 60px 0 }
.ClientsSay-logo { height: 85px; display: block; }
.clients-say-main { width: 1000px; padding-top: 70px; position: relative; margin: auto }
.clients-say-main .slick-arrow { z-index: 96; background: url(../images/our-client-arr.png) no-repeat; width: 36px; cursor: pointer; height: 40px; font-size: 0px; position: absolute; top: 50%; float: left; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }
.clients-say-main .slick-prev { left: -135px; background-position: -1px -0px; }
.clients-say-main .slick-next { left: auto; right: -135px; background-position: -42px 0px; }
.clients-say-main .slick-prev:hover { background-position: -1px -44px; }
.clients-say-main .slick-next:hover { background-position: -42px -44px; }
.clients-say-main .slick-dots li { display: inline-block; font-size: 0px; margin-left: 8px; }
.clients-say-main .slick-dots { margin-top: 100px; }
.clients-say-main .slick-dots li:first-child { margin-left: 0px; }
.clients-say-main .slick-dots li button { border-radius: 100px; cursor: pointer; font-size: 0px; background: #cccccc; width: 15px; height: 15px; }
.clients-say-main .slick-dots li.slick-active button { background: #2089c1 }
.clients-say-scn h4 { margin-bottom: 8px; font-size: 16px; font-weight: bold; font-family: arial }
.clients-say-scn p { color: rgba(0,0,0,0.6); line-height: 32px; }
.ClientsSay-dtl { width: 480px; padding: 0 40px; text-align: left; }
/***Footer Section Start***/
footer { background: #252525; float: left; width: 100%; padding-top: 55px; }
.ftr-container { width: 1100px; margin: auto }
.ftr-row { float: left; width: 192px; margin-left: 108px; }
.ftr-row.ftr-company { margin-left: 0px; }
.ftr-row h3 { font-size: 24px; font-weight: 700; color: #fff; margin-bottom: 0px; }
.ftr-row ul li { font-size: 16px; font-style: italic; float: left; margin-top: 13px; clear: left; }
.ftr-row ul li a { color: rgba(255, 255, 255, 0.60); }
.ftr-row ul li a:hover { color: #fff; }
.ftr-contact-scn { margin-top: 45px; padding: 50px 0; background: #161616 }
.ftr-contact-dtl { margin: auto; display: table; }
.ftr-contact-dtl a { display: inline-block; font-size: 24px; font-family: 'Raleway', sans-serif; margin-left: 50px; color: #fff; font-weight: 700; }
.ftr-contact-dtl a.ftr-phone { margin-left: 0px; }
.ftr-contact-dtl a:hover { color: #2089c1; }
.ftr-phone i { background: url(../images/footer-phone-icon.png) no-repeat; width: 39px; height: 58px; text-align: center; display: table; margin-left: auto; margin-right: auto; margin-bottom: 15px }
.ftr-phone:hover i { background-position: 0px -61px }
.ftr-email i { background: url(../images/footer-email-icon.png) no-repeat; width: 57px; height: 38px; text-align: center; display: table; margin-left: auto; margin-right: auto; margin-bottom: 25px }
.ftr-email:hover i { background-position: 0px -41px }
/***About Page Start***/
.banner-about .demand-form-bnr{ padding: 60px; width: 820px;}
.banner-about .demand-form-bnr h3{font-weight: 300; margin-bottom: 20px;}
.banner-about .demand-form-bnr p{ line-height: 30px; }
.about-bnr-social{ width: 48px; height: 224px; border-radius: 100px; background: rgba(0,0,0, 0.5); float: right; margin: 15px 25px 0px 0px; position: relative; }
.about-bnr-social a{background: url(../images/about-social-sprite.png) no-repeat; margin:auto; display: table; margin-top: 24px;}
.about-bnr-social .about-fb{ background-position: -4px 0px; width: 8px; height: 15px; }
.about-bnr-social .about-gp{ background-position: -1px -40px; width: 21px; height: 14px; }
.about-bnr-social .about-tw{ background-position: 0px -75px; width: 17px; height: 14px; }
.about-bnr-social .about-yt{ background-position: 0px -118px; width: 18px; height: 13px; }
.about-bnr-social .about-be{ background-position: -1px -160px; width: 19px; height: 12px; }
.about-bnr-social a:hover{opacity: 0.8;}
.about-kliqsatart-story:before{content: ''; position: absolute; width: 62%; height: 100%; top: 0px; background: rgba(0,0,0, 0.34);}
.about-kliqsatart-story .be-inspired-cont{position: relative; z-index: 88; width: 750px;}
.about-kliqsatart-story h2{margin-bottom: 5px;}
.about-kliqsatart-story h4{font-size: 40px;}
.about-kliqsatart-story .be-inspired-cont p{ width: 95% }
.philosophy-business-scn{ text-align: center; padding: 55px 0; }
.p-business-info{ margin: auto; width: 985px; }
.p-business-info p{line-height: 28px;}
.starthire-btn{ border: #000000 2px solid; text-align: center; color: #000; line-height: 34px; padding: 0 25px; min-width: 148px; font-size: 12px; font-family: 'Raleway', sans-serif; font-weight: 900; margin: auto; display: table; text-transform: uppercase; border-radius: 30px; }
.starthire-btn:hover { border-color: #0a5a87 }
.philosophy-list{padding-bottom: 40px;}
.philosophy-list li{ display: inline-block;font-family: 'Raleway', sans-serif; font-size: 20px; color: #000; font-weight: 700; padding: 0px 25px; line-height: 20px; border-left: #000 2px solid; }
.philosophy-list li:first-child{ border-left: none; padding-left: 0px; }
.we-got-sorted{ padding-top: 0px; text-align: center; }
.we-got-sorted h2{font-weight: 700; margin-bottom: 20px;}
.our-src-scn p{ text-align: center; line-height: 32px }
.our-src-scn .what-k-item p { text-align: left; }
.got-sorted-info{width: 650px; margin: auto;}
.got-sorted-social{display: inline-block; padding-top: 65px;}
.got-sorted-social li{display: inline-block;margin-left: 55px}
.got-sorted-social li:first-child{ margin-left: 0px; }
.got-sorted-social h4{font-size: 20px; font-weight: 700; }
.got-sorted-icn{ display: inline-block; margin-bottom: 25px;}
/***About Page End***/
/***Contact Us Page Start***/
.banner-contactus .demand-form-bnr{min-height: 300px;}
.banner-contactus .demand-form-bnr h3{font-weight: 300; margin-bottom: 20px; margin-top: 40px}
.reach-touch-scn{text-align: center;}
.reach-touch-contact{padding-top: 40px; width: 100%; }
.reach-touch-contact li{display: inline-block; width: 30%; margin-left: 2.3%; color: #000;}
.reach-touch-contact li a{clear: both; color: #000; }
.reach-touch-contact li a:hover{color: #2089c1}
.reach-touch-icon{background: url(../images/p-contact-icon.png) no-repeat; display: table; margin: auto; margin-bottom: 45px; height: 71px;}
.cont-phone-icn{ background-position:0px 0px; width: 90px; }
.cont-eamil-icn{ margin-top: 10px; background-position:-119px -3px; width: 82px; }
.cont-message-icn{ background-position:-226px -2px; width: 70px; }
.contact-form-dtl{ margin: auto; margin-top: 100px; padding-bottom: 60px; width: 1003px;}
.contact-form-dtl h2{font-weight: 500;}
.contact-form-dtl .form-control{ resize: none; font-style: italic; font-size:17px; color: #000; font-weight: normal;  background: #fff; border-radius: 2px; border: #d7d7d7 1px solid; margin-top: 17px; }
.contact-form-dtl .f-control-message{ height: 130px; padding: 15px 20px;}
.form-group-two{width: 49.2%; float: left;}
.form-group-two:nth-child(2){ float: right;}
.contact-form-dtl .f-control-message::-webkit-input-placeholder {
opacity: 1 !important;color: #000;}
.contact-form-dtl .f-control-message:-moz-placeholder {
opacity: 1 !important;color: #000;}
.contact-form-dtl .f-control-message::-moz-placeholder {
opacity: 1 !important;color: #000;}
.contact-form-dtl .f-control-message:-ms-input-placeholder {
opacity: 1 !important;color: #000;}
.contcheck-group{margin-top: 20px; text-align: left;}
.send-message-btn{ margin: auto; margin-top: 25px;float: none; display: table; padding-left: 55px;padding-right: 55px; }
/***Contact Us Page End***/
/***We What offer Page Start***/
.other-offerings-scn{padding: 0px;}
.other-offerings-dtl{width: 100%; float: left; border-top: #cccccc 1px solid; border-bottom: #cccccc 1px solid; padding: 55px 0 110px 0; margin-bottom: 15px; }
.other-offerings-scn .discover-more{ margin-top: 12px; }
/***We What offer Page End***/
/***Who User Page Start***/
.build-who-user{min-height: 465px;}
.build-who-user .be-inspired-cont{ padding-left: 90px; position:relative;}
.build-who-user .itstart-here-btn{ border-color: #ee3668 }
.build-who-user .be-inspired-cont p{width: 92%}
.build-who-user .itstart-here-btn:hover{border-color: #db2053}
.build-who-user:before {content: '';position: absolute; right: 0px; width: 56%;height: 100%;top: 0px;background: rgba(0,0,0, 0.34);}
.what-doget-scn{ text-align: center; }
.what-doget-dtl{width: 100%; float: left; border-bottom: #ccc 1px solid; padding-bottom: 100px;}
.what-doget-scn h2{ margin-bottom: 20px; }
.what-doget-scn p{line-height: 32px;}
.what-doget-list{display:table; margin: auto; width: 1000px; padding-bottom: 50px;}
.what-doget-list li{ position: relative; padding-top: 3px; margin-left: 1%; width: 22%; text-align: left; font-family: 'Raleway', sans-serif; font-weight: 700; float: left; padding-left: 35px;}
.what-doget-list li:first-child{margin-left: 0px;}
.what-doget-list li:last-child{width: 26%;}
.what-doget-list li:before{content: ''; position: absolute; left: 0px; top: 0px; width: 26px; height: 26px; background: url(../images/check-right-icon.png) no-repeat;}
.marketing-madeeasy-scn{ padding-bottom: 100px; }
/***Who User Page End***/

/***Website Setup Start***/
.website-bnr-inner { float: left; width: 100%; background: #30a4e0; padding: 0px; min-height: 150px; position: relative; }
.bnr-inner-cont{position: absolute; text-align:center; top: 50%; left:0px; right:0px; margin:auto; margin-bottom: 0px; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.bnr-inner-cont p{ margin-bottom:0px; padding-top:5px; color:#ffffff}
.website-bnr-inner h2 { text-shadow: #656565 1px 1px 4px; -ms-text-shadow: #656565 1px 1px 4px; -webkit-text-shadow: #656565 1px 1px 4px;  color: #fff; font-size: 45px; font-weight: 500; margin-bottom:0px; }
.progressbar h2 { position: absolute; bottom: -120px; right: -15px; z-index: 99; text-transform: none; color: rgba(0,0,0, 0.3); font-size: 16px; font-weight: 400; }
.website-setupscn { overflow: hidden; padding-top: 10px; }
/*form styles*/
#msform { width: 100%; text-align: center; position: relative; }
#msform fieldset { background: white; border: 0 none; border-radius: 3px; padding: 0; box-sizing: border-box; /*stacking fieldsets above each other*/ position: relative; }
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) { display: none; }
/*progressbar*/
.progressbar-main { margin: auto; width: 800px; padding-top: 80px; display: table; }
.progressbar { position: relative; background: rgba(126,255,91, 0.3); width: 100%; float: left; margin: auto; border-radius: 100px; counter-reset: step; margin-bottom: 170px; }
.progressbar:before { content: ''; position: absolute; right: 15px; top: -37px; background: rgba(126,255,91, 0.3); width: 34px; height: 75px; float: left; border-radius: 100px; transform: rotate(140deg); }
.progressbar:after { content: ''; position: absolute; right: 15px; bottom: -37px; background: rgba(126,255,91, 0.3); width: 34px; height: 75px; float: left; border-radius: 100px; transform: rotate(-140deg); }
.progressbar li { border-radius: 100px; height: 33px; position: relative; list-style-type: none; color: white; text-transform: uppercase; font-size: 9px; width: 20.66%; float: left; margin-left: -32px; }
.progressbar li:nth-child(1) { background: #5d378d; }
.progressbar li:nth-child(2) { background: rgba(238,75,60,0.30); }
.progressbar li.active:nth-child(2) { background: rgba(238,75,60,1); }
.progressbar li:nth-child(3) { background: rgba(58,131,201,0.30); }
.progressbar li.active:nth-child(3) { background: rgba(58,131,201,1); }
.progressbar li:nth-child(4) { background: rgba(251,165,63,0.30); }
.progressbar li.active:nth-child(4) { background: rgba(251,165,63,1); }
.progressbar li:nth-child(5) { background: rgba(78,212,175,0.3); }
.progressbar li.active:nth-child(5) { background: rgba(78,212,175,1); }
.progressbar li:before { color: #fff; content: counter(step); counter-increment: step; width: 20px; line-height: 31px; float: right; font-weight: 700; font-size: 20px; font-weight: 600; font-family: 'Raleway', sans-serif; color: #fff; margin-right: 6px; position: relative; z-index: 88; }
/*progressbar connectors*/
.progressbar li:after { content: ''; width: 100%; height: 2px; background: white; position: absolute; left: -50%; top: 9px; z-index: -1; /*put it behind the numbers*/ }
.progressbar li:first-child:after { content: none; }
.progressbar li h2 span { min-height: 40px; float: left; width: 100%; position: relative; }
.progressbar li h2 span:after { content: ''; height: 22px; position: absolute; left: 0px; right: 0px; top: -30px; float: right; background: #d6d6d6; width: 1px; margin: auto }
.progressbar .active h2 span { font-weight: 700; color: #000 }
.website-setup-dtl { float: left; width: 100%; clear: both; }
.package-item { float: left; margin-bottom: 45px; width: 32.3%; margin-left: 1%; text-align: left; }
.package-item h3 { font-size: 30px; margin-bottom: 10px; padding-left: 42px; font-weight: 500; color: #000; }
.package-item ul { margin-bottom: 25px; float: left; padding-left: 42px; width: 100%; }
.package-price { font-family: 'Raleway', sans-serif; width: 100%; padding: 14px 42px; margin-bottom: 30px; clear: both; float: left; background: #cde4f0; color: #000; font-weight: 500; font-size: 30px; }
.package-item ul li { float: left; width: 100%; margin-top: 12px; }
.package-item ul li label { color: rgba(0,0,0, 0.6); font-size: 16px; font-family: arial }
.package-item .custom_checkbox [type="checkbox"]:not(:checked) + label:before, .package-item .custom_checkbox [type="checkbox"]:checked + label:before { border-color: #235682; border-radius: 0px; width: 14px; height: 14px; }
.package-item .custom_checkbox [type="checkbox"]:not(:checked) + label:after, .package-item .custom_checkbox [type="checkbox"]:checked + label:after { left: 0px; background: #235682; top: 0px; width: 16px; height: 16px; }
.package-item .addtocart { margin-left: 42px; }
.next-btn { margin-top: 45px; cursor: pointer; font-size: 20px; font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: 900; color: #fff; padding: 33px 55px; border-radius: 8px; background: #31a6e2; /* Old browsers */ background: -moz-linear-gradient(top, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a6e2', endColorstr='#1270a5', GradientType=0 ); /* IE6-9 */
}
.next-btn:hover { background: #1270a5; /* Old browsers */ background: -moz-linear-gradient(top, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1270a5', endColorstr='#31a6e2', GradientType=0 ); /* IE6-9 */
}
.purchase-close { vertical-align: middle; background: url(../images/pack-close.png) no-repeat; width: 15px; height: 15px; float: right; }
.websitepackdata { float: left; font-size: 16px; font-weight: bold; font-family: arial }
.pack-YourCart { color: #fff; position: relative; border-radius: 20px 20px 0 0; border: #fff 1px solid; border-bottom: none; background: #2d9fdb; float: right; margin-right: 96px; width: 230px; margin-top: 51px; }
.pack-YourCart h4 { cursor: pointer; color: #fff; font-size: 30px; font-weight: 500; margin-bottom: 0px; text-align: center; padding: 29px 0px; }
.pack-cart { display: block; padding-top: 10px; margin-top: -10px; position: absolute; width: 100%; }
.pack-cart li { background: #1681cf; width: 100%; float: left; padding: 6px 20px 10px 20px; }
.yourcart-price { float: right; }
.pack-cart li.carttotal-price { background: #2d9fdb; padding: 18px 20px; }
.pack-cart li strong { float: left; font-weight: normal; }
.pack-cart li.carttotal-price strong { text-transform: uppercase; font-weight: bold; }
.pack-cart li.checkout-item { background: none; padding: 0px; width: 100%; border-top: #8abbd4 1px solid }
.pack-cart li .checkout-btn { font-family: 'Raleway', sans-serif; font-size: 14px; font-weight: 900; background: #5f3595; text-transform: uppercase; width: 100%; float: left; color: #fff; padding: 15px 0; text-align: center; border-radius: 0px 0 15px 15px; text-align: center; }
.pack-cart li .checkout-btn:hover { color: #fff; background: #4b257b }
.website-info-main { text-align: left; }
.enailAdd-copyright { text-align: left; padding: 25px 0; width: 100%; float: left; border-bottom: #cccccc 1px solid; border-top: #cccccc 1px solid }
.website-info-email { float: left; width: 100%; }
.i-email-btn.fl-right{float: right}
.website-info-email .form-group { float:left; width: auto; }
.website-info-email .form-control { color: rgba(0,0,0, 0.6); font-size: 18px; font-family: arial; padding-left: 20px; padding-right: 20px; width: 474px; background: #ebebeb }
.i-email-btn { background: url(../images/i-email-btn.png) no-repeat; margin-left: 10px; cursor: pointer; width: 47px; height: 45px; float: left; }
.enailAdd-copy-item { padding: 20px 0px 20px 40px; width: 50%; padding-right: 40px; border-left: #000000 1px solid; float: left; }
.enailAdd-copy-item:nth-child(2n+1) { padding-left: 0px; border-left: none; }
.check-group { width: 100%; height: auto; float: left; padding: 0px; margin: 0px }
.check-group .check-group { padding: 0px; margin: 0px; width: 100%; float: left; }
.check-group .control { font-size: 16px; font-weight: normal; }
.website-info-main h2 span { font-weight: 700; font-size: 40px; }
.select-one-templete { padding: 40px 0px 40px 0px; float: left; width: 100%; }
.layout-column { width: 100%; float: left; padding: 50px 0px; }
.layout-column li { width: 33%; text-align: center; float: left; }
.layout-column li .layout-c-title { padding-bottom: 12px; float: left; width: 100%; text-align: center; }
.layout-column li .btn-defualt { margin: auto; display: table; float: none; }
.layout-c-frame { margin-bottom: 20px; width: auto; display: table; clear: both; text-align: center; margin-left: auto; margin-right: auto }
.select-colour-scheme { float: left; width: 100%; border: #cccccc 1px solid; border-left: none; text-align: center; border-right: none; padding: 45px 0px; }
.select-colour-scheme .check-group .control { float: left; margin-left: 25px; }
.select-colour-scheme .check-group .control:nth-child(2n+1) { margin-left: 0px; }
.select-color-option { margin: auto; display: table; padding-top: 20px; }
.select-color-option .radio-group li { width: auto; display: inline-block; margin-left: 30px; }
.select-color-option .radio-group li:first-child { margin-left: 0px; }
.website-selectcolorlist { width: 100%; float: left; }
.website-selectcolorlist li { margin-top: 15px; float: left; width: 25%; text-align: center; }
.select-colour-img { margin: 0 auto 20px auto; display: table; }
.website-selectcolorlist .select-this-one { float: none; margin: auto; display: table; }
.customize-own-colours { width: 100%; padding: 55px 0; float: left; }
.customize-own-colours li { text-align: left; float: left; width: 33.3%; }
.customize-own-colours li h4 { font-weight: bold; font-size: 16px; color: #000; font-family: arial; margin-bottom: 5px; }
.websitecustom-txt { float: left; margin-top: 10px; width: 100px; }
.website-custom-color { width: 190px; clear: left; margin-top: 10px; float: left; }
.wbctm-color-box { float: left; width: 100%; font-size: 16px; color: #424242; height: 45px; padding: 0px 10px; border-radius: 10px; background: #ebebeb }
.websitecustom-box { float: left; width: 90px; }
.colorpicker-img { float: right; cursor: pointer; margin: 15px 0px 0px 0px; }
.purchase-content { width: 100%; float: left; }
.purchase-website-cont { padding: 40px 0px; width: 100%; text-align: left; float: left; border-top: #cccccc 1px solid; border-bottom: #cccccc 1px solid }
.purchase-website-cont h2 span { font-weight: 700; font-size: 40px; }
.setup-web-cont-dtl { padding-left: 300px; float: left }
.upload-create-cont { border-top: none; padding-bottom: 60px; }
.upload-create-cont p { width: 700px; line-height: 32px; }
.page-conent-update { width: 100%; float: left }
.page-conent-update li { float: left; width: 100%; margin-top: 16px; background: #f4f4f4; padding: 20px 30px 20px 40px; }
.page-conent-update h4 { margin-bottom: 0px; float: left; width: 255px; font-weight: bold; line-height: 45px; }
.remane-link-link { line-height: 46px; width: 290px; float: left; }
.remane-link-link a { color: #31a6e2 }
.remane-link-link a:hover { color: #2698d2 }
.upload-file-main { width: 290px; float: left; }
.upload-cont-doc { float: right; line-height: 45px; margin-right: 10px; width: 150px; text-align: center }
.cont-upload-btn { min-width: 96px; background: #000; border-radius: 6px; color: #fff; font-weight: 700; font-family: 'Raleway', sans-serif; font-size: 14px; float: right; cursor: pointer; vertical-align: middle; padding: 15px 20px; }
.cont-upload-btn:hover { background: #1e1e1e }
.cont-upload-rm-btn { background: #fa0032; }
.cont-upload-rm-btn:hover { background: #e6002e; }
.upload-txt-arrow { float: right; margin-top: 15px; color: #31a6e2 }
.cont-upload-arr { float: right; background: url(../images/cont-txt-arrow-down.png) no-repeat; width: 19px; height: 19px; cursor: pointer; margin-left: 20px; }
.upload-txt-current .cont-upload-arr { background: url(../images/cont-txt-arrow-up.png) no-repeat; }
.content-editer-comment { display: none; float: left; clear: both; margin-top: 30px; }
.page-editer-current { display: block }
.editer-main { float: left; width: 100%; }
.spcltxt-area-main { float: left; width: 100%; margin-top: 20px; }
.spcltxt-area { float: left; width: 1109px; resize: none; font-family: arial; font-size: 16px; clear: both; background: #fff; border: #c3c3c3 1px solid; height: 114px; padding: 10px 10px; margin-top: 10px; }
/***Domain Page***/
.domain-main { float: left; text-align: left; width: 100%; }
.domain-list { float: left; width: 100%; padding: 45px 0px; border-top: #cccccc 1px solid; border-bottom: #cccccc 1px solid; }
.domain-list-dtl { float: left; padding-left: 300px; }
.domain-list-dtl h2 span { font-weight: bold; }
.buy-domain-slt .default-select-box { clear: none; border: none; width: auto; float: left; margin-left: 5px; }
.buy-domain-slt .default-select-box select { font-size: 18px; color: rgba(0,0,0, 0.60); background-color: #ebebeb; height: 44px; width: 132px; border-radius: 8px; background-position: 90% 18px }
.domain-input { border-radius: 4px; font-size: 18px; float: left; border-radius: 4px; background: #ebebeb; padding: 0px 20px; color: rgba(0,0,0,0.6); width: 404px; border-radius: 8px; }
.domain-input::-webkit-input-placeholder {
opacity: 0.6 !important;
}
.domain-input:-moz-placeholder {
opacity: 0.6 !important;
}
.domain-input::-moz-placeholder {
opacity: 0.6 !important;
}
.domain-input:-ms-input-placeholder {
opacity: 0.6 !important;
}
.r20peradd-txt { float: left; margin-left: 42px; font-size: 24px; font-weight: 300; font-family: 'Raleway', sans-serif; margin-bottom: 20px; }
.want-emailaddress h2 { margin-bottom: 10px; }
.d-input-name-list { margin-top: 10px; float: left; clear: left; }
.atrate-email { float: left; margin: 13px 0 0 25px; color: #8d8d8d; font-size: 18px; }
/***Summary Page***/
.summary-info-list { float: left; width: 100%; border-top: #cccccc 1px solid; padding: 50px 0px; }
.summary-info-list h2{position: relative;}
.summary-setup-main { text-align: left; }
.summary-adit-btn { display: inline-block; background: url(../images/s-write-icon.png) no-repeat; width: 23px; height: 23px; position: relative; top: 2px; margin-left: 10px; }
.summary-row { width: 33.3%; padding-left: 2%; float: left; }
.summary-row li { clear: left; font-size: 17px; color: #000; margin-bottom: 8px; float: left; }
.summary-row li a { color: #000; }
.summary-row li a strong { font-weight: bold; }
.summary-row li a:hover { color: #30a4e0 }
.domain-info-dtl { float: left; padding-left: 10px; font-weight: bold; }
.s-info-txt { float: left; }
.email-wb-info { max-width: 200px; word-wrap: break-word; }
.domain-color-list { float: left; }
.domain-color-list span { width: 23px; height: 23px; border-radius: 100px; margin-left: 10px; float: left; }
.d-blue-color { background: #081ccb }
.d-aquamarine-color { background: #08cb80 }
.d-yellowlight-color { background: #bacb08 }
.summary-domain-price { border-bottom: #cccccc 1px solid; }
.r-domain-price { margin-top: 40px; width: 100%; color: #5e3393; background: #ebebeb; text-align: center; font-size: 72px; padding: 40px 0px; float: left; clear: both; }
.shopping-check-main { float: left; width: 100%; margin-top: 10px; }
.shopping-check-btn { display: inline-block; margin-top: 45px; cursor: pointer; font-size: 20px; font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: 900; color: #fff; padding: 33px 55px; border-radius: 8px; background: #31a6e2; /* Old browsers */ background: -moz-linear-gradient(top, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #31a6e2 0%, #2ea1dc 51%, #1270a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a6e2', endColorstr='#1270a5', GradientType=0 ); /* IE6-9 */
}
.shopping-check-btn:hover { background: #1270a5; /* Old browsers */ background: -moz-linear-gradient(top, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #1270a5 0%, #2ea1dc 51%, #31a6e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1270a5', endColorstr='#31a6e2', GradientType=0 ); /* IE6-9 */
color: #fff; }
.wb-checkout-btn { background: #6a3ea1; margin-left: 10px; }
.wb-checkout-btn:hover { background: #5b318f }


/***Facebook Setup Page***/
.facebook-setupscn{overflow: hidden; padding-top: 10px;}
.facebook-setupscn .progressbar-main{ width:732px;}
.facebook-setupscn .progressbar li{ width:24%;}
.fb-package-list{clear: both;}
.fb-package-list .package-item{ padding:40px 0; background:#f4f4f4}
.fb-slt-package{ margin-left:40px;}
.fb-package-list ul{ margin-bottom:50px;}
.fb-package-list ul li{ color:#868686; position:relative; font-size:16px; padding-left:30px;}
.fb-package-list ul li:before{ content:''; position:absolute; top:2px; left:0px; width:14px; height:14px; background:url(../images/fb-plist-arrow.png) no-repeat;}
.fb-selectpackage-main{ width:100%; float:left; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid; padding:45px 0px 20px 0px;}
.fb-selectpackage-list{ display:table; margin:auto; padding-bottom:45px;}
.fb-businesspackage-sub{ font-size:16px; color:#000; font-weight:bold;}
.fb-selectpackage .radio-group li{ margin-left:25px; width:auto; float:left;}
.fb-selectpackage .radio-group li:first-child{ margin-left:0px;}
.fb-selectpackage .radio-group{ text-align:center; margin:auto; display:table; clear:both; padding-top:20px;}
.fb-selectpackage h2{ margin-bottom:20px;}
/*Facebook Campaign Details*/
.fb-campaign-details-main{ float:left; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid; width:100%; padding:45px 0 60px 0;}
.campaign-details-fix{ width:600px; margin:auto; text-align:left}
.fb-campaign-details-main h2 span{ font-family: 'Raleway', sans-serif; font-weight:700;}
.cmp-dtl-checkbox{ float:left; width:100%;}
.cmp-dtl-checkbox li{ float:left; font-size:18px; margin-left:40px}
.cmp-dtl-checkbox .custom_checkbox [type="checkbox"]:not(:checked) + label, .cmp-dtl-checkbox .custom_checkbox [type="checkbox"]:checked + label{ font-size:18px;}
.cmp-dtl-checkbox li:first-child{ margin-left:0px;}
.campaign-details-fix .i-email-btn{ margin-top:45px;}
.email-url-prt{ float:left; width:100%; margin-top:20px;}
.inputlabel{ text-align: left; font-size:16px; font-weight:bold; margin-top:20px; width: 100%; padding-bottom:8px; float:left;}
.setupcampaign-prt{ float: left; width: 100%; margin-top: 30px; }
.campaign-details-fix .min-max-control{ width: 49%; float: left; }
.campaign-details-fix .min-max-control:nth-child(2n+2){float: right;}
.fb-slt-summary-main{ width:100%; float:left; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid; padding:45px 0px 20px 0px;}
.setuppackage-summary-user{ width: 600px; margin: auto; text-align: left; }
.ctp-dtlform-link{ float: left; color: #000000; font-size: 18px }
.ctp-dtlform-link a{color: #2d9fdb}
.ctp-dtlform-link a:hover{color: #2090ca}
.CaptureOr-text{ float: left; clear: both; margin: 30px 0px;  color: #000000; font-size: 18px }
.summary-agency-user-dtl{float: left; margin-bottom: 20px; width: 100%;}
.summary-agency-pic{float: left; width: 174px}
.summary-a-user-cont{ width: 375px; float: right; }
.s-companyname, .summary-ort-hours{float: left; width: 100%; font-size: 18px; padding-bottom: 20px;}
/*Advertised Product/Service page*/
.advt-pdt-service-main{width:100%; float:left; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid; padding:45px 0px 60px 0px;}
.advt-pdt-service-dtl h2{margin-bottom: 10px;}
.advt-pdt-service-dtl{width: 540px; margin: auto;}
.form-ctl-market{ padding-top:10px; padding-bottom:10px; height: 123px; resize: none;}
.advt-pdt-service-dtl .inputlabel{margin-top: 10px}
.google-adwords-setupscn .progressbar{ margin-bottom: 120px; }
.google-adwords-setupscn{ padding:30px 0;}
.googleadwords-cont{ float:left; width:100%; padding:50px 0px 105px 0px; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid;}
.gl-adwds-cont{ width:100%; float:left; background:#f4f4f4; padding:25px 35px 35px 35px; text-align:left}
.gl-adwds-left{ float:left; width:552px;}
.gl-adwds-right{ min-height:331px; float:left; width:340px; margin-left:12px; background:#fff; margin-top:73px;}
.googleadwords-cont h2{ font-weight:500; margin-bottom:5px; font-size:30px;}
.gl-adwds-left p{ color:rgba(0,0,0, 0.80); margin-bottom:15px;}
.gl-adwds-left p:after{content:''; width:19px; display:inline-block; height:19px; background:url(../images/question-icon.png) no-repeat; position:relative; top:3px; left:5px;}
.gl-map{ width:100%; float:left;}
.nexthelp-btn{ padding:0 45px; color:#2e9fdb; font-size:18px; font-weight:900; border:#1270a5 2px solid; border-radius:6px; margin-top:50px; cursor:pointer; background:none; text-transform:uppercase; line-height:50px; min-width	:140px;}
.nexthelp-btn:hover{ background:#1270a5; color:#fff; }
.gl-adwds-right ul li{ border-bottom:#f4f4f4 1px solid;}
.adwds-radio{float:left; margin:20px 25px 15px 20px; position:relative;}
.potential-audience{ float:left; width:100%; padding:20px 25px 15px 25px;}
.potential-audience h5{ font-size:16px; margin-bottom:20px; font-weight:bold}
.potential-audience p span{ color:#50d91f; font-size:42px;}
.potential-audience p{ margin-bottom:0px; line-height:19px;}
.according-main{ width:100%; float:left; background:#f4f4f4;}
.according-main ul{ float:left; width:100%;}
.according-main li{ margin-top:1px; background:#fff; float:left; width:100%; border:#d0d0d0 1px solid; border-radius:2px; color:#000; }
.gl-adwds-right .according-main li{border:#d0d0d0 1px solid;}
.according-main li span{cursor:pointer; width:100%; line-height:20px; float:left; position:relative;padding:15px 42px 15px 15px; }
.according-main p:after{content:normal}
.according-data{ display:none; padding:21px;}
.according-data p{ margin-bottom:20px;}
.accor-arrow{ width:15px; height:9px; background:url(../images/buy-awd-arrow.png) no-repeat; width:15px; height:9px; position:absolute; right:30px; top:22px; float:right;}
.acc-current .accor-arrow{ transform:rotate(-180deg)}
.acc-current .according-data{ display:block;}
.estimated-performance-row{ width:100%; margin-top:15px; float:left; margin-bottom:30px;}
.gl-select-your-budget{ float:left; width:100%;}
.gl-select-your-budget p:after{ content:normal;}
.ui-slider-range span:nth-child(1){ display:none;}
.amount-range{ background:none; font-size:42px; color:#5d378d; width:200px; display:inline-block;}
.how-budget-work{ background:#fff; padding:24px 25px; float:right; margin-top:25px; width:552px;}
.how-budget-work p{ margin-bottom:0px;}
.ui-widget-header{ background:#5d378d; border-radius:0px;}
.ui-slider-horizontal{ border-radius:0px; height:10px;}
.ui-widget-content{ margin-top:30px; border:none; background:#c3c3c3}
.gl-select-your-budget p{ color:#000;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ top:-7px; background:#5d378d; border:none; border-radius:100px;}
.budget-amount-range{ width:auto;}
.glawd-summary .gl-select-your-budget strong{ margin-bottom:20px; margin-top:20px; float:left; width:100%;}
.lng-drcn-runing{ float:left}
.lng-drcn-runing .lng-drcn-item{ margin-top:5px;}
.lng-drcn-runing .lng-drcn-item strong{ margin:0px; padding-right:5px; width:auto;}
.shopping-help-btn{ display:table; margin-left:auto; margin-right:auto;}
.google-adwords-setupscn fieldset{ padding-bottom:20px !important;}
/***Seo Section Start***/
.seo-setup-dtl { float: left; width: 100%; clear: both; }
.seo-setup-dtl .advt-pdt-service-main{ text-align:left;}
.seo-setup-dtl .advt-pdt-service-dtl .inputlabel{ margin-top:20px;}
.isp-radio-group li{ width:auto; margin-left:30px;}
.isp-radio-group li:first-child{ margin-left:0px;}
.txt-additional-comments{ height:150px; padding-top:10px; padding-bottom:10px; resize:none;}
.recurring-seo-fieldset{ text-align:center; width:100%; float:left}
.recurring-seo-fieldset p{ font-size:18px;}
.recurring-seo-fieldset h2{ margin-bottom:10px;}
.recurring-month-list{ display:table; margin:auto;}
.rng-month-item{ float:left; width:210px; margin-top:10px; margin-left:40px;}
.rng-month-item:nth-child(4n+1){ margin-left:0px;}
.run-month-btn{ width:100%;}
.slt-amount-month{ margin:auto; width:405px; text-align:center; padding-top:20px;}
.slt-amount-month label{ text-align:center;}
.summary-Seosetup .summary-row li{ font-size:18px;}
.summary-Seosetup .summary-row li strong{ display:block; padding-bottom:10px;}
.summary-Seosetup .summary-r7{ margin-top:25px; font-weight:bold; color:#5d378d}
.seo-summary-addmore{width: 100%; float: left; border-top: #cccccc 1px solid;  border-bottom: #cccccc 1px solid; padding: 45px 0px 20px 0px;}
.seo-summary-addmore .fb-selectpackage-list{ padding-bottom:15px;}

/**My Account Page**/
.my-account-mid h2{ font-size:83px; font-weight:300;}
.my-account-mid h3{ font-size:40px; font-weight:300;}
.lifeofusher-arrow-down{ cursor:pointer; position:relative; top:3px; background:url(../images/lifeofusher-arrow-down.png) no-repeat; width:20px; height:20px; display:inline-block; vertical-align:middle; }
.lifeofusher-prt{ float:left; width:500px;}
.addextra-prt{ width:600px; float:right;}
.my-account-dtl{margin-top:40px; float:left; width:100%; position:relative; }
.my-account-dtl:before{content:''; position:absolute; top:0px; left:0px; right:95px; margin:auto; width:1px; background:#ccc; float:left; height:100%;}
.addextra-prt .what-k-item{ background:#f4f4f4; padding:35px; margin-left:10px; width:294px;}
.addextra-prt .what-k-item h3{ font-size:30px; margin-bottom:0px;}
.addextra-prt .what-k-item p{ min-height:inherit; margin-bottom:15px; margin-top:10px;}
.addextra-prt .what-k-item:nth-child(2n+1){ margin-left:0px;}
.acc-tips-update{ padding-bottom:40px; float:left; width:100%; margin-top:25px;}
.acc-tips-update h3{ font-size:40px; font-weight:300; margin-bottom:10px;}
.findoutmore{ color:#31a6e2; border-color:#31a6e2; border-radius:6px; text-transform:none; font-weight:600; padding:4px 30px; font-size:14px;}
.accrount-dtl-info{ width:100%;}
.accrount-dtl-info li{ float:left; padding:25px 0; border-bottom:#ccc 1px solid; width:100%;}
.acc-info-lft{ float:left}
.acc-info-right{ float:right}
.acc-info-right a{ color:#31a6e2; font-size:16px; font-weight:bold; display:inline-block; margin-left:30px;}
.acc-info-right a:hover{ color:#2599d4}
.saveall-change{ margin: auto; display: block; text-align: center; clear: both; }
/**My Account Setting Page**/
.bnr-acc-setting-scn{ padding:20px 0; background:#ee3668;}
.user-pic-setting{ border-radius:100px; border:#fff 5px solid; display:inline-block; vertical-align:middle; margin-right:20px; overflow:hidden;}
.bnr-acc-setting{ display:inline-block;vertical-align:middle;}
.bnr-acc-setting h3{ display:inline-block; font-weight:500; color:#fff; font-size:40px; position:relative; top:5px;}
.update-pass-prt, .pro-manage-prt{ width:586px;}
.acc-stn-inner{ float:left; width:100%; border-radius:10px; padding:50px 40px 50px 50px; background:#f4f4f4;}
.update-setting-dtl{ border-bottom:#ccc 1px solid; padding-bottom:50px; float:left; width:100%;}
.update-setting-dtl h3{ font-size:40px; font-weight:300;}
.update-setting-dtl .form-control{ background:#fff;}
.stng-password-dtl{ margin-top:25px}
.profile-manage-prt{ float:left; width:100%; margin-top:40px; padding:40px 0 0px 0; border-top:#ccc 1px solid}
.profile-manage-prt h4{ font-weight:bold; margin-bottom:10px;}
.update-remove-image{ margin-left:15px; display:inline-block;}
.update-remove-btn button{ border-radius:8px; margin-right:8px; color:#000; border:#000 2px solid; padding:10px 30px; min-height:45px; min-width:150px; background:#fff; cursor:pointer; font-weight:bold;}
.acc-profile-img{ vertical-align:top}
.update-remove-btn .upld-img-btn{ background:#000; color:#fff;}
.update-remove-btn button:hover{ background:#151515; color:#fff}
.manage-subscriptions{ margin-top:20px;}
/**CheckOut Page**/
.checkoutsignin-scn{ padding:150px 0; min-height:725px;}
.register-form-scn{ padding:70px 0 130px 0}
.checkoutsignin-dtl{ margin:auto; width:1000px;}
.checkoutsignin-rft{ width:400px; background:#f4f4f4; padding:100px 40px 40px 40px; min-height:355px; text-align:center;}
.checkoutsignin-dtl h3{ font-size:40px; margin-bottom:15px; font-weight:300;}
.checkout-register{ font-size:14px; font-weight:900; font-family: 'Raleway', sans-serif; color:#000;}
.checkout-register:hover{ color:#0083c8;}
.checkoutsignin-lft h3{ float:left;}
.verified-secured{ margin-top:10px;}
.forget-reset{ font-size:14px; margin-top:10px;}
.forget-reset a{ color:#0083c8;}
.forget-reset a:hover{ text-decoration:underline;}
.register-form-main{ width:595px; margin:auto;}
.register-form-main h3{ margin-bottom:10px; font-size:40px; font-weight:300;}
.rgtr-birthday-group .default-select-box{ margin-left:2%; float:left; clear:none; width:32%;}
.rgtr-birthday-group .month-select-box{ margin-left:0px;}
.rgtr-birthday-group .default-select-box select{ background-position:94% 19px}
.register-checkbox{ clear:both; margin-top:20px; float:left;}
.register-checkbox .custom_checkbox{ margin-top:15px;}
.rgister-nowclick-txt{ margin-top:30px; float:left; width:100%;}
.rgister-nowclick-txt a{ color:#0083c8}
.rgister-nowclick-txt a:hover{ color:#006ca5;}
.rgister-login-btn{ float: left; margin-top: 0px; }
.rgister-login-btn .cmn-btn{padding:15px 50px; }
/**Register Popup Page**/
.popup-body-opacity{ display:none; width:100%; position:fixed; top:0px; height:100%; background:rgba(255,255,255, 0.8); float:left; z-index:99;}
.registerform-popup{ display:none; width:540px; position:fixed; top:50%; background:#fff; width:594px; height:510px; z-index:100; border:#c3c3c3 1px solid; padding:40px 50px; margin:auto; left:0px; right:0px; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); text-align:center;}
.thumb-link{ margin:auto; display:inline-block; margin-top:90px;}
.registerform-popup h3{ font-size:40px; font-weight:300; padding-top:25px; margin-bottom:25px; font-family: 'Raleway', sans-serif;}
.register-popupclose{ background:url(../images/checkout-close-icon.png) no-repeat; width:31px; height:31px; cursor:pointer; float:right;}
.rgstr-continue-btn{ margin:auto; display:inline-block;}
.rgstr-continue-btn a{ padding:0px 20px; margin-left:10px;}
.rgstr-continue-btn a:first-child{ margin-left:0px;}
/**Payment Start Page**/
.payment-dtl-scn{ text-align:left; width:100%; padding:50px 0 65px 0; border-top:#cccccc 1px solid; border-bottom:#cccccc 1px solid; float:left;}
.payment-dtl-scn h4{ font-size:30px; font-family: 'Raleway', sans-serif; font-weight:300; margin-bottom:10px;}
.paymentneed-help a{ color:#000;}
.paymentneed-help a:hover{ text-decoration:underline;}
.payment-fix{ width:1000px; margin:auto;}
.billcompany-flt{ width:600px; float:left;}
.paymentneed-help{ background:#f4f4f4; float:right; padding:35px; width:290px}
.paymentneed-help p{ margin-bottom:20px;}
.safeshopping-txt{ margin-top:30px; display:block;}
.panyment-opt-prt{ float:left; width:100%;}
.payment-optlist{ float:left; width:100%;}
.payment-optlist li{ text-align:center; float:left; padding:25px 5px 15px 5px; clear:none; margin-left:0.5%; background:#f4f4f4; width:13.8%}
.payment-optlist li label{ font-size:18px; font-weight:bold; padding-left:0px;}
.payment-optlist li label em{ margin-top:30px; font-style:normal; min-height:40px; display:inline-block;}
.payment-optlist li:first-child{ margin-left:0;}
.paymenticon{ position:relative; width:100%; height:90px; text-align:center; float:left; margin-top:20px;}
.paymenticon img{ position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto;}
.payment-optlist li .check{ margin:auto; right:0px; margin-top:25px;}
.giftvoucher-coupon{clear: both;}
.giftvoucher-coupon .form-control{ width:595px;}
.payment-summary-prt{ width:800px; margin:auto;}
.paymentsummary{ width:100%; background:#f4f4f4; padding:50px 0; float: left;}
.paymentsummary ul{ margin-bottom:40px; float:left; width:100%;}
.paymentsummary h3{ font-weight:700; font-family: 'Raleway', sans-serif; text-align:center; color:#000; font-size:40px;}
.paymentsummary li{ float:left; margin-bottom:2px; border-radius:100px; color:#fff; background:#878ea5; width:100%; font-size:18px; padding:11px 15px 11px 25px;}
.paymentsummary li .fl-right{ width:170px;}
.paymentsummary li.itemtitle .fl-right{ width:190px;}
.paymentsummary li.itemtitle{ background:#f4f4f4; margin-bottom:25px; color:#000; border-radius:0px; border-bottom:#c3c3c3 1px solid;}
.procees-btn{ background:#fff; border-radius:4px; padding:0px 0;font-weight:900; font-family: 'Raleway', sans-serif; text-align:center; color:#000; font-size:22px; width:200px; min-height:80px; line-height:80px; cursor:pointer; margin:auto; display:table;}
.pricesmry-close{background:url(../images/checkout-close-icon.png) no-repeat; width:20px; height:20px; background-size:100% 100%; cursor:pointer; float:right;}
.paymentsummary li.paymentsummarytotal{ margin-top:14px; padding:8px 15px 8px 25px; color:#1a2957; border:#1a2957 3px solid; font-weight:bold; background:#f4f4f4;}
.paymentsummary li.paymentsummarytotal .fl-right{ width:190px;}
.paynewcard-dtl-scn h2{ margin-bottom:20px;}
.paynewcard-dtl-scn p{margin-bottom:0px;}
.straight-date { margin-top:40px; float:left;}
.straight-date .inputlabel, .cart-cvv .inputlabel{ margin-top:15px; width:200px; float:left;}
.straight-date .default-select-box{ float:left; width:190px; clear:none; margin-left:10px;}
.straight-date .default-select-box select{ background-position:90% 19px}
.cart-cvv{ margin-top:40px; float:left; clear:left}
.cart-cvv .cvv-control{ width:300px; float:left;}
.cart-cvv .form-control{width:100px; margin-left:10px; float:left;}
.whattxt{ float:left; color:#1f9ddd; font-size:14px; margin:14px 0 0px 10px;}
.usercard-checkout{ float:left; margin-top:35px;}
.order-scd-cont{ width:710px; margin:auto; padding:300px 0 0px 0; min-height:800px; text-align:center;}
.order-scd-cont h2{ margin-bottom:10px; font-size:83px; font-weight:300;}
.order-scd-cont p{line-height:32px}
.payment-login-form{ position:absolute; top:57px; z-index: 9; right:30px; color:#fff; background:rgba(0,0,0, 0.8); padding:30px; border-radius:0px 0px 20px 20px; width:450px; float:left}
.payment-user-pic{ float:left; margin-right:20px; border-radius:100px; overflow:hidden;}
.payment-login-logout{ float:left; width:250px;}
.payment-username{ font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; float:left; margin-top:30px;}
.loginlink{ color:#31a6e2; font-size:14px; clear:left; float:left; margin-top:5px;}
.payment-list{ clear: both; width: 100%; border-top: #717171 1px solid; float: left; padding:20px 0px 35px 0px;  }
.payment-list li{font-family: 'Raleway', sans-serif; font-weight: 600; font-size: 14px; float: left; width: 100%; margin-top: 14px; }
.payment-list li a{ color: #fff; }
.payment-list li a:hover{color: #31a6e2}
.payment-list-main{ margin-top: 30px; float: left; width: 100%; }
.payment-popup-close{ background: url(../images/payment-popup-close.png) no-repeat; width:15px; height: 15px; position: absolute; top: 15px; right: 25px; cursor: pointer; }
.confirmation-form-scn .payment-summary-prt{ width: 100%; }
.confirmation-lft{width: 820px; float:left;}
.confirmation-lft .paymentsummary{ padding: 0px; }
.payment-bill-confirmation{float: left; width: 100%;}
.payment-bill-list{ border-top:none; text-align: left; }
.payment-bill-list p{font-size: 18px; line-height:24px; width:90%; }
